/*global variables*/
:root {
  --primary-color: rgb(34, 131, 187);
  --secondary-color: black;
  --third-color: gold;
  --tertiary-color: silver;
}

body {
  margin: 20px;
  background-color: var(--secondary-color);
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 35px;
  color: var(--primary-color);
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  font-size: 20px;
}
a:hover {
  opacity: 0.7;
}

h1,
h3,
p,
a {
  color: var(--tertiary-color);
}

section {
  margin: 0px 200px;
}

/*header/navigation section start*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
}

header nav ul li {
  margin: 0px 25px;
}

.hero-intro {
  display: flex;
  flex-direction: column;
}


/* about me section start */
#about-me {
  display: flex;
  flex-direction: column;
}

#about-me img {
  height: 200px;
  width: 200px;
}

/* portfolio section start */

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.meditation {
  width: 100%;
  
}

.tic, .calculator, .weather, .run {
  width: 50%;
  
}

.project {
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.project div {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  width: 180px;
}



/* portfolio project images */
.meditation {
  background-image: url("../images/02-portfolio-1.jpg");
}

.tic {
  background-image: url("../images/02-portfolio-2.jpg");
}

.calculator {
  background-image: url("../images/02-portfolio-3.jpg");
}

.weather {
  background-image: url("../images/02-portfolio-4.jpg");
}

.run {
  background-image: url("../images/02-portfolio-5.jpg");
}

/* end portfolio project images */
